################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Harjoitus24lottoWPF/.vs/Harjoitus24lottoWPF/FileContentIndex
