################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Harjoitus24lottoWPF/.vs/Harjoitus24lottoWPF/FileContentIndex
/Harjoitus26Omasovellus/.vs/Harjoitus26Omasovellus/FileContentIndex/425920c8-f2ab-4d03-b599-d87b7a35aa1d.vsidx
